@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --default, dark;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --header-height: 10.5rem;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

.animate-ticker {
  animation: ticker 25s linear infinite;
}

body {
  background: var(--color-base-100);
  color: var(--color-base-content);
  font-family: Arial, Helvetica, sans-serif;
}

[data-theme=dark] .logo-invert {
  filter: invert(1);
}
